body {
  font-size: 18px;
  /* Define um tamanho base maior para a fonte */
}

#header {
  background-color: black;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

#header h1,
#header img {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  max-height: 2.4em;
}

#card {
  margin: 0.5em;
  /* Reduz a margem para telas pequenas */
  padding: 1em;
  /* Usa unidades relativas para o padding */
  border: none;
  border-radius: 0;
}

.input-field {
  width: 100%;
  /* Faz os campos de entrada ocuparem toda a largura disponível */
  padding: 0.5em;
  /* Usa unidades relativas para o padding */
  margin-bottom: 0.5em;
  /* Usa unidades relativas para a margem */
}

.button-container {
  text-align: right;
}

/* Estilos para telas maiores */
@media screen and (min-width: 600px) {
  body {
    font-size: 16px;
    /* Reduz o tamanho da fonte para telas maiores */
  }

  #card {
    max-width: 600px;
    margin: auto;
    /* Centraliza o cartão na tela */
    padding: 1em;
    /* Usa unidades relativas para o padding */
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}
