body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

#header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

#header h1,
#header img {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  max-height: 2.4em;
}

#card {
  margin: 20px auto;
  /* Adiciona uma margem de 20px ao topo e ao fundo, e centraliza o cartão */
  padding: 20px;
}

.input-field {
  width: calc(100% - 20px);
  /* Reduz a largura em 20px para levar em conta o padding */
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  text-align: right;
}

.dialog {
  margin: auto;
  padding: 20px;
}

/* Estilos para telas maiores */
@media screen and (min-width: 600px) {

  #card,
  .dialog {
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
}

/* Estilos para a lista de chaves */
#key-list {
  margin: auto;
  padding: 20px;
  list-style-type: none;
  /* Remove os marcadores de lista */
}

#key-list li {
  padding: 10px;
  /* Adiciona um pouco de espaço ao redor de cada item da lista */
  border-bottom: 1px solid #ddd;
  /* Adiciona uma linha entre cada item da lista */
}
