body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

#header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

#header h1,
#header img {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  max-height: 2.4em;
}

#card {
  margin: 20px auto;
  padding: 20px;
}

.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  text-align: right;
}

.dialog {
  margin: auto;
  padding: 20px;
  width: 90%;
}

.dialog input[type="text"],
.dialog input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}

#csr-text {
  width: calc(100% - 20px);
  height: 400px;
  margin-top: 20px;
}

@media screen and (min-width:600px) {

  #card,
  .dialog {
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: auto;
  }

  .input-field,
  .button-container button {
    font-size: 18px;
    padding: 15px;
  }

  #card,
  .dialog {
    width: auto;
    height: auto;
    margin-top: 50px;
  }

}

#key-list {
  margin: auto;
  padding: 20px;
  list-style-type: none;
}

#key-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
